<div>
    <h2 id="page-heading">
        <span>Publishers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-publisher-magazine" [routerLink]="['/publisher-magazine/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Publisher
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="publishers?.length === 0">
        <span>No publishers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="publishers && publishers.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Nome</span></th>
                    <th scope="col" ><span>Data Cadastro</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let publisher of publishers ;trackBy: trackId">
                    <td><a [routerLink]="['/publisher-magazine', publisher.id, 'view']">{{ publisher.id }}</a></td>
                    <td>{{ publisher.nome }}</td>
                    <td>{{ publisher.dataCadastro | date:'mediumDate' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/publisher-magazine', publisher.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/publisher-magazine', publisher.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(publisher)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
