<div>
    <h2 id="page-heading">
        <span>Issues</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-issue-magazine" [routerLink]="['/issue-magazine/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Issue
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="issues?.length === 0">
        <span>No issues found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="issues && issues.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Edicao</span></th>
                    <th scope="col" ><span>Manchete</span></th>
                    <th scope="col" ><span>Data Lancamento</span></th>
                    <th scope="col" ><span>Descricao</span></th>
                    <th scope="col" ><span>Numero Paginas</span></th>
                    <th scope="col" ><span>Url</span></th>
                    <th scope="col" ><span>Cover Thumbnail</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let issue of issues ;trackBy: trackId">
                    <td><a [routerLink]="['/issue-magazine', issue.id, 'view']">{{ issue.id }}</a></td>
                    <td>{{ issue.edicao }}</td>
                    <td>{{ issue.manchete }}</td>
                    <td>{{ issue.dataLancamento | date:'mediumDate' }}</td>
                    <td>{{ issue.descricao }}</td>
                    <td>{{ issue.numeroPaginas }}</td>
                    <td>{{ issue.url }}</td>
                    <td>
                        <a *ngIf="issue.coverThumbnail" (click)="openFile(issue.coverThumbnailContentType, issue.coverThumbnail)">open</a>
                        <span *ngIf="issue.coverThumbnail">{{ issue.coverThumbnailContentType }}, {{ byteSize(issue.coverThumbnail) }}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/issue-magazine', issue.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/issue-magazine', issue.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(issue)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
