<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="issue">
            <h2><span>Issue</span> {{ issue.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Edicao</span></dt>
                <dd>
                    <span>{{ issue.edicao }}</span>
                </dd>
                <dt><span>Manchete</span></dt>
                <dd>
                    <span>{{ issue.manchete }}</span>
                </dd>
                <dt><span>Data Lancamento</span></dt>
                <dd>
                    <span>{{ issue.dataLancamento }}</span>
                </dd>
                <dt><span>Descricao</span></dt>
                <dd>
                    <span>{{ issue.descricao }}</span>
                </dd>
                <dt><span>Numero Paginas</span></dt>
                <dd>
                    <span>{{ issue.numeroPaginas }}</span>
                </dd>
                <dt><span>Url</span></dt>
                <dd>
                    <span>{{ issue.url }}</span>
                </dd>
                <dt><span>Cover Thumbnail</span></dt>
                <dd>
                    <div *ngIf="issue.coverThumbnail">
                        <a (click)="openFile(issue.coverThumbnailContentType, issue.coverThumbnail)">open</a>
                        {{ issue.coverThumbnailContentType }}, {{ byteSize(issue.coverThumbnail) }}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/issue-magazine', issue.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
