<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="subscriptionPlan">
            <h2><span>Subscription Plan</span> {{ subscriptionPlan.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Nome</span></dt>
                <dd>
                    <span>{{ subscriptionPlan.nome }}</span>
                </dd>
                <dt><span>Preco</span></dt>
                <dd>
                    <span>{{ subscriptionPlan.preco }}</span>
                </dd>
                <dt><span>Periodo</span></dt>
                <dd>
                    <span>{{ subscriptionPlan.periodo }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/subscription-plan-magazine', subscriptionPlan.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
