<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-magazine-magazine-heading">Create or edit a Magazine</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_codigoRevista">Codigo Revista</label>
                    <input type="text" class="form-control" name="codigoRevista" id="field_codigoRevista"
                           formControlName="codigoRevista"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_preco">Preco</label>
                    <input type="number" class="form-control" name="preco" id="field_preco"
                           formControlName="preco"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_issue">Issue</label>
                    <select class="form-control" id="field_issue" name="issue" formControlName="issueId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="issueOption.id" *ngFor="let issueOption of issues; trackBy: trackById">{{ issueOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_purchase">Purchase</label>
                    <select class="form-control" id="field_purchase" name="purchase" formControlName="purchaseId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="purchaseOption.id" *ngFor="let purchaseOption of purchases; trackBy: trackById">{{ purchaseOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_publisher">Publisher</label>
                    <select class="form-control" id="field_publisher" name="publisher" formControlName="publisherId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="publisherOption.id" *ngFor="let publisherOption of publishers; trackBy: trackById">{{ publisherOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
